<div class="modal-header">
    <h3 class="modal-title">My Cart</h3>
</div>
<div class="modal-body">
    <ul>
        <li class="cartstyle" ng-repeat="item in ctrl.items">
            <p>{{ item.name }}
            {{item.price}}</p>
            <img ng-src="{{item.image}}"
           
        </li>
    </ul>
    Selected:<!--  <b>{{ ctrl.item }}</b> -->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">CheckOut</button>
     <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Continue Shopping</button>
</div>
