<h2>My Cart</h2>

<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in ctrl.items">
            <td><img ng-src="{{item.image}}"/></td>
            <td>{{item.name}}</td>     
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity * item.price | currency}}</td>
            
        </tr>
        <tr>
            
            <td></td>
            <td>Total $: {{ctrl.Total}}</td>
            <td>{{total() | currency}}</td>
            <td>Total after tax $: {{ctrl.totalAfterTax}}</td>
        </tr>
    </table>
</div>