<h3>Product Details</h3>

<div>
<div class="product-img" style="background:url('/assets/img{{product.image}}');background-size:cover;background-position:center center">
</div>


	<table class="products-list table">
		<tr>
			<td>{{ctrl.details.product.category}}</td>
			<td>{{ctrl.details.product.name}}</td>
			<td><em>{{ctrl.details.product.description}}</em></td>
			<td>{{ctrl.details.product.price |currency}}</td>
		</tr>
	</table>
</div>

	<div class="text-center">
		<div class="row">
			<div class=buttons class="text-center">
			<a href="/#/shop-main" class="btn-primary">Back</a>
		</div>
	</div>
</div>
