<nav>
	<div class="content-wrapper">
		<ul class="left-nav">
			<li><img src="assets/img/logo.png"></li>
		</ul>
		<ul class="right-nav">
			<li >
				<i ng-click="ctrl.openCart()" class="fa fa-shopping-cart">
				<span class="cart">Cart</span></i>
				<a ui-sref="auth" class="cart">Log In</a>
			</li>
		</ul>
	</div>
</nav>

<section class="top-content" role="topbanner">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<div class="content">		
					<h1>
						<!-- Manage Your Closet. -->
					</h1>
					<h3>
						<!-- Buy and Sell used fashion items from virtually anywhere. -->
					</h3>

					<div class="">
						<form>
							<!-- TO DO #3: ENABLE PRODUCT SEARCH -->
							<div class="form-container">
								<input type="text" class="form-control"  placeholder="Search for a brand or item" ng-model="search">
								<a class="search-btn"><img src="assets/img/icon-search@2x.png"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="secondary-nav" role="sub-nav">
	<div class="content-wrapper">
		<!-- TO DO #3: SET CATEGORY SEARCH AND SET FOCUS CLASS-->
		<ul class="product-nav">
			<li ng-class="{'focus':category == ''}" ng-click="category = ''"><a>All</a></li>
			<li ng-class="{'focus':category == 'shoes'}" ng-click="category = 'shoes'"><a>Shoes</a></li>
			<li ng-class="{'focus':category == 'shirts'}" ng-click="category = 'shirts'"><a>Shirts</a></li>
			<li ng-class="{'focus':category == 'pants'}" ng-click="category = 'pants'"><a>Pants</a></li>
			<li ng-class="{'focus':category == 'outerwear'}" ng-click="category = 'outerwear'"><a>Outerwear</a></li>
			<li ng-class="{'focus':category == 'accessories'}" ng-click="category = 'accessories'"><a>Accessories</a></li>
		</ul>
	</div>
</section>


<section class="product-view" role="product-view" >
	<div class="content-wrapper">
		<div class="row">
			<!-- TODO #3: SHOW PRODUCTS -->
			<div class="col-xs-12 col-sm-3" ng-repeat="product in ctrl.products 
			| filter:{name:search} 
			| filter:{category:category}">

				<div id="product-card" class="product-card" ng-click="ctrl.go(product.id)">
					<div class="product-buy" ng-click ="ctrl.addProduct(item)">
						<div class="table-view">
							<div class="table-cell">
								<i ng-click="ctrl.addCart(product.id)" class="fa fa-shopping-cart"></i>
							</div>
						</div>
					</div>
					<!-- SET PRODUCT IMAGE -->
					<div ng-click="ctrl.addCart(product.id)"
						class="product-img" style="background:url('{{product.image}}');background-size:cover;background-position:center center">
					</div>

					<div class="product-info">
						<div class="product-name" >
							<!-- SET PRODUCT NAME -->
							{{product.name}}
							
						</div>
						<div class="product-brand">
							<!-- SET PRODUCT Description -->
							{{product.category}}
							<em></em>
						</div>
						<div class="product-cost">
							<!-- SET PRODUCT PRICE WITH FILTER -->
							{{product.price}}
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
<section>